@import 'tailwindcss/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #cdcbcb;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: hsl(185, 87%, 43%);
    width: calc(100% + 18px);
    margin: 0 -9px;
    position: relative;
    bottom: 0;
    padding: 0;
    padding-bottom: 5px;
}


/* Mobile-specific styling */

.jump-to-text {
    color: black;
}

.achievements-text {
    color: black;
}

.history-text {
    color: black;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 800;
    letter-spacing: normal;
    }
    
.dynamic-text {
    font-size: 24px;
    padding: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    }

.footprint-button {
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: hsl(185, 87%, 43%);  
    }

.footprint-button:hover {
    background-color: rgb(235, 166, 242);
}

.footprint-icon {
    width: 50px;
    height: 50px;
}

.hover-trigger {
    transition: background-color 0.3s;
}

.hover-trigger:hover {
    background-color: var(--tw-bg-opacity, 1) var(--hover-color);
}

@media (max-width: 768px) {
    #root {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
