@import 'tailwindcss/tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #cdcbcb;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes full height of the viewport */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.footer {
    display: flex;
    justify-content: center;
    background-color: hsl(185, 87%, 43%);  
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 5px; /* Adjust padding as needed */
}

/* Mobile-specific styling */

.jump-to-text {
    color: black;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 800;
    }
    
.dynamic-text {
    font-size: 24px;
    padding: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    }

.footprint-button {
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: hsl(185, 87%, 43%);  
    }

.footprint-button:hover {
    background-color: rgb(235, 166, 242);
}

.footprint-icon {
    width: 50px;
    height: 50px;
}

.hover-trigger {
    transition: background-color 0.3s;
}

.hover-trigger:hover {
    background-color: var(--tw-bg-opacity, 1) var(--hover-color);
}

@media (max-width: 768px) {
    #root {
        padding-top: 0px; /* Adjust top padding for mobile */
        padding-bottom: 0px; /* Adjust bottom padding for mobile */
    }
}
