@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

#root {
    background-color: #cdcbcb;
    padding: 0; /* Ensure no padding is applied */
    margin: 0; /* Ensure no margin is applied */
    min-height: 100vh; /* Ensure it takes full height of the viewport */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

#content {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #c1bebe;
    padding: 1rem;
    width: 100%;
}

/* Mobile-specific styling */
@media (max-width: 768px) {
    #root {
        padding-top: 60px; /* Adjust top padding for mobile */
        padding-bottom: 50px; /* Adjust to the height of your footer */
    }
}

.jump-to-text {
    color: black;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 800;
    }
    
.dynamic-text {
    font-size: 24px;
    padding: 0.5rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    }

.footprint-button {
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: rgb(228, 115, 238);
    }

.footprint-button:hover {
    background-color: rgb(235, 166, 242);
}

.footprint-icon {
    width: 50px;
    height: auto;
    }

.hover-trigger {
    transition: background-color 0.3s;
}

.hover-trigger:hover {
    background-color: var(--tw-bg-opacity, 1) var(--hover-color);
}